:root {
  --bg-primary: #FFFFFF;
  --bg-secondary: #9ca2a9;
  --bg-card: #FFFFFF;
  --bg-card-hover: #F0F4F8;
  
  --accent-orange: #B66027;
  --accent-blue: #094CB2;
  --accent-blue-light: #3B82F6;

  --text-primary: #41474D;
  --text-secondary: #687078;
  --text-muted: #8B9198;

  --border-color: #41474D;
  --border-card-skills: #204366;
}

[data-theme="dark"] {
  --bg-primary: #0B0F10;
  --bg-secondary: #101415;
  --bg-card: #1D2021;
  --bg-card-hover: #282A2C;
  
  --accent-orange: #B66027;
  --accent-blue: #094CB2;
  --accent-blue-light: #3B82F6;

  --text-primary: #E2E2E2;
  --text-secondary: #C1C7CE;
  --text-muted: #8B9198;

  --border-color: #41474D;
  --border-card-skills: #204366;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--Noto-Serif);
  font-family: var(--Arial);
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 900px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}